---
Checks: >
  -*,
  readability-identifier-naming
WarningsAsErrors: '*'
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: PascalCase
  - key: readability-identifier-naming.ClassCase
    value: PascalCase
  - key: readability-identifier-naming.MethodCase
    value: PascalCase
  - key: readability-identifier-naming.FunctionCase
    value: PascalCase
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalVariableCase
    value: PascalCase
  - key: readability-identifier-naming.GlobalConstantCase
    value: PascalCase
  - key: readability-identifier-naming.ConstantCase
    value: PascalCase
